.logo-container {
  z-index: 0;
  width: 40vw;
  height: 60vh;
  opacity: 1;
  position: absolute;
  top: 5%;
  right: 13%;
  bottom: 0;
  left: auto;
  margin: auto;
  animation: zoomInDown 2.5s ease-in-out 1s;
  user-select: none;



  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 1;
    z-index: 1;
  }
}

.svg-container {
  stroke: #ffd700;
  stroke-width: 10;
}
